.footer {
  background-color: $color-dark;
  padding: 60px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include for-middle-screen {
    border-radius: 45px 45px 0px 0px;
    padding: 60px 100px;
    gap: 60px;
  }

  .footer_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include for-middle-screen {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer_header_social_media {
      display: none;

      @include for-middle-screen {
        display: flex;
        gap: 10px;
      }
    }
  }

  .footer_content {
    display: grid;
    justify-items: center;
    gap: 40px;

    @include for-middle-screen {
      grid-template-columns: 1fr 2fr;
    }

    .contact_us {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      @include for-middle-screen {
        align-items: flex-start;
      }

      p {
        text-align: center;

        @include for-middle-screen {
          text-align: left;
        }
      }

      h4 {
        padding: 0 7px;
        border-radius: 7px;
        background-color: $color-green;
        color: black;

        @include for-middle-screen {
          align-self: flex-start;
        }
      }
    }
    .subscribe_form {
      background-color: #292a32;
      padding: 20px;

      border-radius: 14px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      @include for-middle-screen {
        flex-direction: row;
        padding: 58px 40px 58px 40px;
      }

      input {
        background: none;
        border-radius: 14px;
        border: 1px white solid;
        flex-grow: 1;
        padding: 22px 35px 22px 35px;

        &::placeholder {
          color: white;
          font-size: 18px;
        }
      }

      .btn {
        cursor: pointer;
        padding: 20px 35px 20px 35px;
        background-color: $color-green;
        font-size: 20px;
        border-radius: 14px;
      }
    }
  }

  .footer_header_social_media {
    display: flex;
    gap: 10px;
    justify-content: center;

    @include for-middle-screen {
      display: none;
    }
  }

  .copyright {
    hr {
      margin-bottom: 20px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include for-middle-screen {
        gap: 20px;
        flex-direction: row;
      }

      a {
        &:visited {
          color: inherit;
        }
      }
    }
  }
}
