.gallery {
  .slide {
    width: 100%;
    height: 320px;
    object-fit: contain;

    @include for-middle-screen {
      height: 480px;
    }
  }
  .swiper-container {
    width: 100%;
    height: 320px;
    background-color: white;
    border: 3px solid black;
    border-radius: 45px;
    overflow: hidden;

    @include for-middle-screen {
      height: 480px;
    }
  }
}
