.header {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 35px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .btn {
    cursor: pointer;
    padding: 20px 35px 20px 35px;
    background: none;
    font-size: 20px;
    border-radius: 14px;
    border: 1px solid $color-dark;
  }

  .burger {
    display: none;
  }
}
