.header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: none;
    @include for-middle-screen {
      display: block;
    }
  }

  .small_logo {
    display: block;
    @include for-middle-screen {
      display: none;
    }
  }

  img {
    height: 35px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header_nav {
    display: none;
    @include for-big-screen {
      display: block;
    }
  }

  .btn {
    cursor: pointer;
    padding: 20px 35px 20px 35px;
    background: none;
    font-size: 20px;
    border-radius: 14px;
    border: 1px solid $color-dark;

    display: none;
    @include for-big-screen {
      display: block;
    }
  }

  .burger {
    display: block;
    background: none;
    scale: 0.8;
    border: none;
    cursor: pointer;

    @include for-big-screen {
      display: none;
    }
  }
}
