.hero {
  display: flex;
  gap: 40px;

  div {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .btn {
      cursor: pointer;
      color: white;
      padding: 20px 35px 20px 35px;
      background-color: $color-dark;
      font-size: 20px;
      border-radius: 14px;
    }
    .small_img {
      display: block;
      align-self: center;
      height: 280px;
      @include for-middle-screen {
        display: none;
      }
    }
    button {
      @include for-middle-screen {
        align-self: self-start;
      }
    }
  }

  img {
    display: none;
    @include for-middle-screen {
      display: block;
    }
  }
}
