.navigation {
  margin-left: -24px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;

    @include for-middle-screen {
      flex-direction: row;
    }

    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
