.working_process {
  .working_process_header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;

    h2 {
      background-color: $color-green;
      padding: 0px 7px;
      border-radius: 7px;
    }

    p {
      width: 35%;
    }
  }

  .working_process_content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .working_process_item {
      padding: 41px 60px 41px 60px;
      border: 1px solid $color-dark;
      border-bottom: 6px solid $color-dark;
      background-color: $color-light;
      border-radius: 45px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .working_process_item_header {
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          gap: 40px;
          align-items: center;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
        }
      }
      .working_process_item_body {
        hr {
          margin: 16px 0;
          border: 1px solid black;
        }
      }
    }

    .opened {
      background-color: $color-green;
    }
  }
}
