.working_process {
  .working_process_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;

    @include for-big-screen {
      flex-direction: row;
    }

    h2 {
      background-color: $color-green;
      padding: 0px 7px;
      border-radius: 7px;
      font-size: 30px;

      @include for-middle-screen {
        font-size: 40px;
      }
    }

    p {
      text-align: center;

      @include for-big-screen {
        width: 35%;
        text-align: left;
      }
    }
  }

  .working_process_content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .working_process_item {
      padding: 18px 25px 18px 25px;
      border: 1px solid $color-dark;
      border-bottom: 6px solid $color-dark;
      background-color: $color-light;
      border-radius: 45px;
      display: flex;
      flex-direction: column;
      @include for-middle-screen {
        padding: 41px 60px 41px 60px;
      }

      .working_process_item_header {
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          align-items: center;
          gap: 20px;

          @include for-middle-screen {
            gap: 30px;
          }

          h1 {
            font-size: 30px;
            @include for-middle-screen {
              font-size: 60px;
            }
          }

          h3 {
            font-size: 18px;
            line-height: 23px;
            @include for-middle-screen {
              font-size: 30px;
              line-height: 38px;
            }
          }
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          scale: 0.75;
          @include for-middle-screen {
            scale: 1;
          }
        }
      }
      .working_process_item_body {
        hr {
          margin: 16px 0;
          border: 1px solid black;
        }
      }
    }

    .opened {
      background-color: $color-green;
    }
  }
}
